:root {
  /* colors */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphicText: hsl(167, 40%, 24%);
  --photographyText: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --darkBlue: hsl(212, 27%, 19%);
  --gray1: hsl(213, 9%, 39%);
  --gray2: hsl(232, 10%, 55%);
  --gray3: hsl(210, 4%, 67%);
  /* fonts */
  --fontSize: calc(18rem/16);
  --barlow: 'Barlow', sans-serif;
  --fraunces: 'Fraunces', serif;
  --normal: 700;
  --bold: 900;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL */

.all {
  background-color: #fffcf8;
}

.scroll--effect {
  position: sticky;
  bottom: 0;
}

.fs {
  z-index: 3;
}

.sd {
  z-index: 2;
}


/* _________________________________________________header */

.header {
  height: 800px;
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  color: white;
}

.header__nav {
  margin: 0 48px 115px 40px;
  padding-top: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__nav__logo {
  flex-basis: calc(170rem/16);
}

.header__nav__menu {
  flex-basis: calc(467rem/16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header__nav__menu__item {
  font-family: var(--barlow);
  font-size: var(--fontSize);
  line-height: calc(25rem/16);
  cursor: pointer;
}

.menu--item {
  text-decoration: none;
  color: white;
}

.menu--item:hover {
  color: var(--gray1);
  transition: .2s;
}

.header__nav__menu__button {
  border: none;
  text-transform: uppercase;
  color: var(--darkBlue);
  background-color: white;
  padding: 16px 30px 15px 32px;
  border-radius: 28px;
  font-family: var(--fraunces);
  font-size: calc(15rem/16);
  cursor: pointer;
  text-decoration: none;
}

.header__nav__menu__button:hover {
  background-color: #77cdf5;
  color: white;
  transition: .2s;
}

.header__header1 {
  text-transform: uppercase;
  font-weight: var(--bold);
  line-height: calc(69rem/16);
  text-align: center;
  letter-spacing: calc(8.75rem/16);
  font-size: calc(56rem/16);
  font-family: var(--fraunces);
}

.header__arrow {
  display: block;
  margin: 140px auto 0 auto;
}

/* _____________________________________________________main */

.container {
  display: grid;
  grid-template: 600px 600px 600px / 1fr 1fr;
}

.container__image {
  width: 100%;
  max-height: 600px;
}

.container__text {
  padding: calc(158rem/16) calc(110rem/16) calc(157rem/16) calc(165rem/16);
  font-family: var(--fraunces);
  background: #fffcf8;
}

.text--second {
  padding: calc(158rem/16) calc(165rem/16) calc(157rem/16) calc(110rem/16);
}

.container__text__heading {
  font-size: calc(40rem/16);
  line-height: calc(49rem/16);
  letter-spacing: -0.285741px;
  margin-bottom: 32px;
  color: var(--darkBlue);
  font-weight: var(--bold);
  display: block;
  width: 80%;
}

.container__text__p {
  font-weight: normal;
  font-family: var(--barlow);
  font-size: var(--fontSize);
  line-height: calc(30rem/16);
  letter-spacing: -0.128571px;
  margin-bottom: 40px;
  color: var(--gray2);
}

.container__text__anchor {
  font-size: calc(15rem/16);
  letter-spacing: calc(1rem/16);
  line-height: calc(25rem/16);
  text-transform: uppercase;
  position: relative;
  color: black;
  font-weight: var(--bold);
  text-decoration: none;
}

.anchor--yellow::after, .anchor--red::after {
  content: "";
  inset: 0;
  top: 11px;
  position: absolute;
  width: 114.2%;
  left: -8%;
  height: calc(10rem/16);
  background-color: var(--yellow);
  opacity: 0.25;
  border-radius: 28px;
}

.anchor--red::after {
  background-color: var(--softRed);
}

.div--yellow {
  background-color: #ffd602;
}
.div--red {
  background: linear-gradient(to left, #fd6d60, #fe7a6b);
}

.container__both {
  padding: 398px 190px 59px 191px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__both__header {
  font-family: var(--fraunces);
  font-weight: var(--bold);
  font-size: calc(28rem/16);
  line-height: calc(35rem/16);
  letter-spacing: -.2px;
  margin-bottom: 27px;
}

.container__both__p {
  font-family: var(--barlow);
  line-height: calc(27rem/16);
  letter-spacing: -0.114286px;
}

.both--cherry {
  background-image: url(images/desktop/image-graphic-design.jpg);
  color: var(--graphicText);
}

.both--orange {
  background-image: url(images/desktop/image-photography.jpg);
  color: var(--photographyText);
}

/* ________________________________________________testimonials */

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 81px;
}

.testimonials__header {
  text-transform: uppercase;
  color: var(--gray3);
  font-size: calc(20rem/16);
  letter-spacing: calc(5rem/16);
  line-height: calc(25rem/16);
  font-family: var(--fraunces);
  font-weight: var(--bold);
  margin-top: calc(160rem/16);
}

.testimonials__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 165px 160px 165px;
  gap: 30px;
}

.testimonials__container__col__img {
  border-radius: 50%;
  width: calc(72rem/16);
  aspect-ratio: 1;
  margin-bottom: 58px;
}

.testimonials__container__col__text {
  color: var(--gray1);
  font-family: var(--barlow);
  font-size: var(--fontSize);
  line-height: calc(32rem/16);
  letter-spacing: -0.128571px;
  margin-bottom: 69px;
}

.testimonials__container__col__name {
  font-family: var(--fraunces);
  font-weight: var(--bold);
  font-size: var(--fontSize);
  letter-spacing: -0.128571px;
  margin-bottom: 9px;
}

.testimonials__container__col__job {
  font-family: var(--barlow);
  font-size: calc(14rem/16);
  line-height: calc(25rem/16);
  letter-spacing: -.1px;
  color: var(--gray3);

}

/* _________________________________________________________footer */

.footer__images {
  max-width: 100vw;
  display: flex;
}

.footer__images__img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #90D4C6;
  color: var(--footer);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-top: 72px;
  margin-bottom: 40px;
  width: calc(170rem/16);
  filter: invert(39%) sepia(19%) saturate(1208%) hue-rotate(118deg) brightness(80%) contrast(60%);
}


.footer__buttons {
  width: calc(297rem/16);
  display: flex;
  justify-content: space-between;
}

.footer__buttons__a {
  font-family: var(--barlow);
  font-size: var(--fontSize);
  line-height: calc(25rem/16);
  letter-spacing: -0.128571px;
  color: var(--footer);
  text-decoration: none;
  margin-bottom: 88px;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
  width: calc(164rem/16);
  margin-bottom: 72px;
}

.mobileMenu {
  display: none;
}

.mobileBtn {
  display: none;
}

.mobileMenu__menu {
  display: none;
}

/* ###############################################################################
########################################################################## MEDIA */

@media (min-width: 1840px) {
  .all {
    margin-inline: 12%;
    box-shadow: 1px 1px 20px gray
  }
  .testimonials__container {
    gap: 10%;
  }
}

@media (max-width: 1399px) {
  .header {
    background-color: #3dbeff;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__arrow {
    margin-top: 0;
    margin-bottom: 20%;
    }
  .container {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
  }
  .container__text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div--yellow, .div--red {
    display: flex;
    align-items: flex-end;
  }
  .container__both {
    padding: 60% 10% 10% 10%;
    background-size: cover;
  }
  .testimonials__container {
    margin-inline: 5%;
    margin-bottom: 5%;
  }
  .testimonials__header {
    margin-top: 5%;
  }
}

@media (max-width: 930px) {
  .testimonials__container {
    flex-direction: column;
    margin-inline: 20%;
  }
  .testimonials__header {
    margin-top: 15%;
  }
  .testimonials__container__col__img {
    margin-bottom: 5%;
    width: 30%;
  }
  .testimonials__container__col__text{
    margin-bottom: 5%;
  }
  .testimonials__container__col__job {
    margin-bottom: 15%;
  }
}

@media (max-width: 810px) {
  .header {
    background-attachment: scroll;
  }
  .header__nav__menu {
    display: none;
  }
  .mobileBtn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  /* menu button */
  .bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1  {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  }

  .mobile {
    position: relative;
  }

  /* menu itself */
  .mobileMenu--hide {
    position: absolute;
    top: -300px;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    background-color: white;
    right: 0;
    top: calc(74rem/16);
    height: calc(329rem/16);
    width: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .5s;
  }

  .mobileMenu::after {
    position: absolute;
    right: 0;
    top: -24px;
    content: "";
    width: 0;
    height: 0;
    border-top: 34px solid transparent;
    border-bottom: 48px solid transparent;
    border-right: 34px solid white;
  }

  .mobileMenu__menu {
    height: calc(227rem/16);
    list-style: none;
    color: var(--gray2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: var(--barlow);
    font-size: calc(20rem/16);
    line-height: calc(25rem/16);
    letter-spacing: -0.142857px;
  }

  .mobileMenu__menu__item {
    cursor: pointer;

  }

  .mobileMenu__menu__item:hover {
    color: black;
  }

  .mobileMenu__menu__button {
    border: none;
    color: black;
    background-color: var(--yellow);
    border-radius: 28px;
    padding: 1rem calc(30rem/16) calc(15rem/16) 2rem;
    font-family: var(--fraunces);
    font-size: calc(15rem/16);
    line-height: calc(25rem/16);
    text-transform: uppercase;
    cursor: pointer;
  }
  .testimonials.scroll--effect.sd {
    position: static;
  }

}

@media (max-width:740px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container__text {
    padding: 20% 5%;
  }
  .div--yellow {
    order: 1;
  }
  .text--first {
    order: 2;
  }
  .div--red {
    order: 3;
  }
  .text--second {
    order: 4;
  }
  .both--cherry {
    order: 5;
  }
  .both--orange {
    order: 6;
  }
}

@media (max-width:460px) {
  .header__nav__logo {
    flex-basis: calc(123.64rem/16);
  }
  .bar1, .bar2, .bar3 {
  width: 24px;
  height: 2px;
  margin: 6px 0;
}
.change .bar1  {
  -webkit-transform: rotate(-45deg) translate(-6.2px, 4.1px);
  transform: rotate(-45deg) translate(-6.2px, 4.1px);
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6.5px, -5.5px);
  transform: rotate(45deg) translate(-6.5px, -5.5px);
  }
  .header {
    display: block;
    height: 538px;
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
  }
  .header__nav {
    margin-bottom: 68px;
    margin-inline: 1.5rem;
  }
  .header__header1 {
    font-size: calc(40rem/16);
    line-height: calc(49rem/16);
    margin-bottom: 10%;
  }
  .header__arrow {
    margin-bottom: 0;
  }
  .container__both {
    padding-top: 100%;
  }
  .both--cherry {
    background-image: url(images/mobile/image-graphic-design.jpg);
  }
  .both--orange {
    background-image: url(images/mobile/image-photography.jpg);
  }
  .testimonials__header {
    font-size: 1rem;
  }
  .testimonials__container {
    margin-inline: 8%;
    gap: 4rem;
  }
  .testimonials__container__col__img {
    width: calc(72rem/16);
    margin-bottom: 2rem;
  }
  .testimonials__container__col__text {
    margin-bottom: 2rem;
  }
  .testimonials__container__col__job {
    margin-bottom: 0;
  }
  .footer__images {
    display: grid;
    grid-template: 188px 188px / 1fr 1fr;
  }
}
